body{
    text-align: center;
}

h1 {
    font-size: 20rem;
}

.black_nav {
    background: black;
    width: 100%;
    display: flex;
    color: white;
    padding: 20px;
    font-weight: 600;
    font-size: 20px;
}

#Viewer{
    background-color: black;
    color: white;
}
