body{
    text-align: center;
}

h1 {
    font-size: 20rem;
}

h2 {
    font-size: 4rem;
}

.black_nav {
    background: black;
    width: 100%;
    height: 70px;
    display: block;
    padding: 20px;
    font-weight: 600;
}

.Title{
    float: left;
    font-size: 20px;
    color: white;
}

.Login {
    float: right;
    font-size: 20px;
    color: white;
}

.Add {
    display: inline-block;
    width: 48.5%;
    padding: 20px;
}

.Add_button {
    display: inline-block;
    width: 48.5%;
    padding: 20px;
}

.image_input{
    width: 400px;
}

.content_input {
    width: 500px;
    height: 100px;
    font-size: 30px;
}

.Delete{
    padding: 20px;
}

.Delete_input{
    width: 80px;
}

.wheel{
    width: 35px;
    height: 35px;
}

#oper_hr {
    background-color: white;
    border: 0px;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#Viewer {
    background-color: black;
    color: white;
}

#Footer {
    background-color: black;
    color: white;
    height: 200px;
    padding: 50px 0;
}

#Foot_hr {
    background-color: white;
    border: 3px;
}

.button_sub {
    background: black;
    color: #fff;
    border: none;
    position: relative;
    height: 60px;
    font-size: 1.6em;
    padding: 0 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
}

    .button_sub:hover {
        background: #fff;
        color: #1AAB8A;
    }

    .button_sub:before, button:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 2px;
        width: 0;
        background: #1AAB8A;
        transition: 400ms ease all;
    }

    .button_sub:after {
        right: inherit;
        top: inherit;
        left: 0;
        bottom: 0;
    }

    .button_sub:hover:before, .button_sub:hover:after {
        width: 100%;
        transition: 800ms ease all;
    }